[user]
	name = xiaoyueyue165
	email = 1656800216@qq.com
	signingkey = ""
[credential]
	helper = store
[http]
	postBuffer = 1048576000
	sslBackend = openssl
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[alias]
# 简化命令
	br = branch
	ci = commit
	co = checkout
    st = status
# 日志
	lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgh = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgr = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse
    last = log -10
# 回退
	back = checkout master
	unstage = reset HEAD
	rh = reset --hard HEAD
# pull
	pr = pull --rebase
	prs = pull --rebase --autostash
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[help]
	autocorrect = 1
